.body {
    width: 100%;
    height: 190px;
}

.container {
    background: #888888;
    width: 320px;
    height: 240px;
    margin: -8px;
}

.header {
    background: #CCCCCC;
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: #red;
}

.touch-menu-1 {
    background: #0000FF;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
}

.counter {
    text-align: center;
    background: #880000;
    height: 160px;
    color: #AAAAAA;
    font-size: 120px;
    padding-top: 10px;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
